p {
  color: grey;
}

p > span {
  color: #00b629;
}

.Login-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.Login-button:active {
  background-color: #d0d0d0;
}

.Red-button {
  background-color: red;
}

.Green-button {
  background-color: #00b629;
}
